In [2]:
import pandas as pd
from query import PrivateQuery

In [3]:
dataset_path = 'data/adult.csv'
epsilon = 0.5
use_laplace = True
names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex',
         'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary']

In [4]:
ds = pd.read_csv(dataset_path, names=names, index_col=False)
ds.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
query = PrivateQuery(dataset_path, epsilon, names, use_laplace=False, demo_mode=True)

# Categorical Count
Find out how categories and count of each category

In [6]:
col_name = 'salary'

In [7]:
result, dif_pri_result = query.categorical_count(col_name)

for key, dif_pri_key in zip(result.keys(), dif_pri_result.keys()):
    print("{}: {} | {}: {}".format(key, result[key], dif_pri_key, dif_pri_result[dif_pri_key]))

 <=50K: 24720 |  <=50K: 24721.52240319619
 >50K: 7841 |  >50K: 7840.165992837705

# Average
Average value for a continous column

In [8]:
col_name = 'hours-per-week'

In [10]:
avg, dif_priv_avg = query.average(col_name)
print("Average age:{} | Differentially-Private Age: {}".format(avg, dif_priv_avg))

Average age:40.437455852092995 | Differentially-Private Age: 38.310705779221735